%body
.b ABOUT HOSPITAL LOCATOR
%br
%br
.b Brief

This app is used to locate hospitals close to the users. The app will be using google map to locate the hospitals. Furhermore, the app has the capability to filter hospitals according to specialisations of the hospitals. This cuts down the rates of patients being referred from one hospital to another due to wrong first hospital visit.
%br
%br
.b bold Specification

1. Search for hospitals
%br
2. Search for hospitals specialisation
%br
3. Suggest hospitals specialisation
%br
4. Search by hospitals specialisation
%br
5. Hospital locations marker changes to green when users searches matches specialisation
%br
%br
.b Usage

Normal User or Visitor:
1. A normal user should be able to search for hospitals
%br
2. A normal user should be able to search for hospitals by specialisation

Registered or Signed in User:
1. Signed in User should be able to suggest hospitals
%br
2. A signed in user should also be able to search for hospitals

Admin:
1. Admin should be able to approve hospital suggestions
%br
2. Admin should be able to search for hospitals
%br
3. Admin should be able to search for hospitals based on hospital specialisations

%br
%br
.b Disclaimer

All users signed up on this site should be aware thier data will be stored and thier user account will not be deleted. Users will not be able to edit thier records after signin up.i.e medical records should be able manipulated by only those authorised to do. The records will be kept because it is medical related and will be useful in any damages raised due to the use of this app has evidence. Data will be stored secured using AES encryption storage.